/* GORAN FILE EXPLANATION */
/* This file will load general styles for backend gutenberg editor, mostly fonts and editor size */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
	font-family: "TheSerifB";
	src: url("../fonts/TheSerifB-W8ExtraBold.woff2") format("woff2"),
		url("../fonts/TheSerifB-W8ExtraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TheSerifB";
	src: url("../fonts/TheSerifB-W5Plain.woff2") format("woff2"),
		url("../fonts/TheSerifB-W5Plain.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TheSerifB";
	src: url("../fonts/TheSerifB-W7Bold.woff2") format("woff2"),
		url("../fonts/TheSerifB-W7Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.editor-styles-wrapper,
.editor-styles-wrapper * {
	font-family: "Open Sans", sans-serif;
}

.editor-styles-wrapper .editor-writing-flow {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.editor-styles-wrapper .editor-post-title {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.editor-styles-wrapper .has-large-font-size {
	line-height: 30px;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5 {
	color: #404041;
	font-family: "TheSerifB", sans-serif;
	margin-bottom: 24px;
	margin-top: 0;
}
.editor-styles-wrapper h1 {
	font-size: 37px;
}
.editor-styles-wrapper h2 {
	font-size: 32px;
}
.editor-styles-wrapper h3 {
	font-size: 27px;
	margin-bottom: 18px;
}
.editor-styles-wrapper h4 {
	font-size: 24px;
}
.editor-styles-wrapper h5 {
	font-size: 21px;
}
.editor-styles-wrapper h6 {
	font-size: 18px;
}
.wp-block {
	max-width: 100%;
}
.editor-styles-wrapper .display-1 {
	font-size: 56px;
	line-height: 60px;
}
.editor-styles-wrapper .display-2 {
	font-size: 48px;
	line-height: 54px;
}
.editor-styles-wrapper .display-3 {
	font-size: 42px;
	line-height: 48px;
}
.button {
	text-wrap: nowrap;
	display: inline-flex;
	cursor: pointer;
	background-color: #79ad36;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 36px 12px 36px;
	border: 0;
	border-radius: 6px;
	border-bottom: 3px solid;
	border-color: #5e862a;
}
.wp-block-button__link {
	border-radius: 0 !important;
	padding: 0 !important;
	background: transparent !important;
}

/* Article Card */
.archive-row {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.article-card {
	background-color: #fff;
	width: calc(33.333% - 20px);
	max-width: 360px;
	border-radius: 6px;
	box-shadow: 0px -1px 9px 2px rgba(0, 0, 0, 0.06);
}
.article-card .article-meta {
	font-size: 14px;
	line-height: 18px;
}

.article-card img {
	width: 100%;
	height: auto;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: block;
}

.article-card-content {
	padding: 24px;
}

.article-card-content .date {
	font-size: 14px;
	color: #8c8c8e;
}

.article-card-content h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	margin: 12px 0 0 0;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
	.article-card {
		width: calc(50% - 15px); /* 2 cards per row on tablets */
	}
}

@media (max-width: 768px) {
	.article-card {
		width: 100%; /* 1 card per row on mobile */
		max-width: none;
	}
}
