
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: 'Avenir LT Pro';
	src: url('../fonts/AvenirLTPro-Roman.woff2') format('woff2'), url('../fonts/AvenirLTPro-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Pro';
	src: url('../fonts/AvenirLTPro-Medium.woff2') format('woff2'), url('../fonts/AvenirLTPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Pro';
	src: url('../fonts/AvenirLTPro-Light.woff2') format('woff2'), url('../fonts/AvenirLTPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Pro';
	src: url('../fonts/AvenirLTPro-Black.woff2') format('woff2'), url('../fonts/AvenirLTPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Pro';
	src: url('../fonts/AvenirLTPro-Heavy.woff2') format('woff2'), url('../fonts/AvenirLTPro-Heavy.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir LT Pro 55 Roman';
	src: url('../fonts/AvenirLTPro-Oblique.woff2') format('woff2'), url('../fonts/AvenirLTPro-Oblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Avenir LT Pro';
	background-color: #171f28;
	color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Avenir LT Pro';
}

.content {
    font-weight: 300
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content iframe,.content img,.content ol,.content p,.content ul {
    margin-bottom: 24px;
}

.content ol,.content p,.content ul {
    font-size: 16px;
}

input[type="submit"] {
	cursor: pointer;
}

.single-events .content div div {
    margin: 0!important;
    padding: 0!important;
    font-size: inherit!important;
    line-height: inherit!important;
    font-weight: inherit!important
}

input {
	color-scheme: dark;
}

.search-bar .with-border {
	position: relative;
	padding-left: 24px;
}

.search-bar .with-border:after {
	content: '';
	height: 48px;
	width: 1px;
	position: absolute;
	left: 0;
	background-color: #606060;
}

.content a {
    color: #CFA568;
    text-decoration: underline
}

.content a:hover {
    color: #CFA568
}

.content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: .5rem
}

.content h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 600
}

.content h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600
}

.content h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600
}

.content h5 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600
}

.content iframe {
    width: 100%;
    min-height: 360px
}

.primary-btn {
	border: 2px solid #CFA568;
	display: inline-block;
	padding: 12px 72px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.2s linear;
}

.primary-btn:hover {
	background-color: #CFA568;
}


@media screen and (max-width:768px) {
	.primary-btn {
		padding: 12px;
	}
}

.btn {
	cursor: pointer;
	border: 2px solid #CFA568;
	display: inline-block;
	padding: 12px 32px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.2s linear;
}
.btn:hover {
	background-color: #CFA568;
}

.subscribe {
	position: relative;
	width: 240px;
	color: #CFA568;
	font-weight: 500;
	height: 56px;
	line-height: 32px;
}
.subscribe:after {
    content: '';
    border: 1px solid #CFA568;
    position: absolute;
    width: 254px;
    height: 42px;
    top: 6px;
    left: -8px;
}

.hero-btn {
	display: inline-block;
	padding: 16px 22px;
	text-align: center;
	background: linear-gradient(101deg, #E9C899 0.74%, #CFA568 22.31%, #CFA568 73.77%, #E9C899 94.85%);
	font-weight: 600;
	color: #000;
	font-size: 17px;
	text-transform: uppercase;
	min-width: 220px;
}

.event-block {
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}

.bg-gradient {
	position: absolute;
	bottom: -600px;
	right: -600px;
	width: 1200px;
	height: 1200px;
	border-radius: 50%;
	background: radial-gradient(50% 50% at 50% 50%, rgba(56, 74, 98, 0.63) 0%, rgba(21, 28, 37, 0.00) 100%);
}

/* Video Iframe */
.iframe-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    position: absolute
}

.iframe-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.hero:after,.section-venues:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%
}

.hero:after {
    background: rgba(0, 0, 0, 0.5);
}

#menu-main .current-menu-item {
	border-bottom: 3px solid #CFA568;
}

.menu-item:hover {
	color:#CFA568;
}

.wp-block-table td, .wp-block-table th {
	border: none;
}
.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea {
	background-color: #000!important;
	border: 1px solid #666!important;
}
.nf-field-label .nf-label-span, .nf-field-label label {
	font-weight: 400!important;
	font-size: 15px!important;
	text-transform: uppercase;
	color: #BBBDC0;
}
.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
	background-color: #CFA568!important;
	color: #000!important;
	padding: 8px 48px!important;
	border: none!important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 15px;
}


@media screen and (max-width:1280px) {
	.search-bar .with-border:after {
		display: none;
	}
	.search-bar .with-border {
		padding-left: 0;
	}
}